.note-editor-title {
  flex-grow: 5!important;
}
.note-editor-pinned .widget-description::before,
.note-editor-private .widget-description::before {
  font: 14px FontAwesome;
  min-width: 20px;
  display: inline-block;
}
.note-editor-pinned > *,
.note-editor-private > * {
  margin: 0 auto!important;
}
.note-editor-private .widget-description::before {
  content: "\f2f7";
}
.note-editor-pinned .widget-description::before {
  content: "\f024";
}
